@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

:root {
   --background-color: #f3f6fd;
   --blue-color: #5051f9;
   --item-box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
input:focus {
   outline: none;
}

body {
   font-family: 'Comfortaa', cursive;
   font-weight: 400;
   background-color: var(--background-color);
   height: 100%;
}

.app {
   display: flex;
   flex-direction: row;
   height: 100%;
}

.sidebar {
   background-color: #fbfaff;
   min-height: 100vh;
   padding: 30px;
}

.section {
   display: flex;
   flex-direction: column;
   gap: 36px;
   flex: 1;
   padding: 50px;
}

.logo {
   cursor: pointer;
   margin-bottom: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 6px;
}

.logo__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   color: black;
}

.menu {
   display: flex;
   flex-direction: column;
   gap: 25px;
   align-items: center;
}
.menu__item {
   width: 45px;
   height: 45px;
   background: #ffffff;
   box-shadow: var(--item-box-shadow);
   border-radius: 14px;
   border: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

.menu__item:hover {
   background: #6a6afb;
}

.menu__item:hover img {
   filter: brightness(0) invert(1);
}
.menu__item_active {
   background-color: var(--blue-color);
}

.menu__item_active img {
   filter: brightness(0) invert(1);
}

.button__container {
   margin-top: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button__add {
   width: 45px;
   height: 45px;
   border-radius: 14px;
   border: none;
   cursor: pointer;
   background: transparent;
   border: 1px solid #cad5ff;
   transition: all 0.2s ease-in-out;
}

.button__add:hover {
   background: #cad5ff;
}
.button__add:hover img {
   filter: brightness(0) invert(1);
}

header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   min-width: 820px;
   width: 80%;
   margin: 0 auto;
}

h1 {
   font-size: 30px;
   line-height: 33px;
   color: black;
}

.progress {
   display: flex;
   flex-direction: column;
   gap: 12px;
   min-width: 235px;
}
.progress__text {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   user-select: none;
}
.progress__title {
   font-size: 14px;
   color: #232360;
   user-select: none;
}
.progress__percentage {
   font-size: 12px;
   color: #768396;
}

.progress__bar {
   position: relative;
   height: 5px;
   background: #e6e9ed;
   border-radius: 4px;
}

.progress__cover-bar {
   position: absolute;
   left: 0;
   height: 5px;
   background: #5051f9;
   border-radius: 4px;
   transition: all 0.5s ease-in;
}

.days__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 12px;
}

.day {
   display: flex;
   flex-direction: row;
   position: relative;
   min-width: 820px;
   width: 80%;
   min-height: 60px;
   background: #ffffff;
   border-radius: 10px;
   overflow: hidden;
}

.new__day {
   display: flex;
   flex-direction: row;
   position: relative;
   min-width: 820px;
   margin: 0 auto;
   width: 80%;
   min-height: 60px;
   background: #ffffff;
   border-radius: 10px;
   overflow: hidden;
   margin-top: 12px;
}
.new__day_title {
   width: 150px;
   background: #fbfaff;
   border-right: 1px solid #e7ebfb;
   font-weight: 500;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}
.new__day_form {
   display: flex;
   flex: 1;
}

.day__title {
   width: 150px;
   background: #fbfaff;
   border-right: 1px solid #e7ebfb;
   font-weight: 500;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}

.day__description {
   padding: 25px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex: 1;
}

.input__wrapper {
   margin-top: 7px;
   margin-bottom: 7px;
   margin-right: 14px;
   margin-left: 25px;
   display: flex;
   gap: 10px;
   justify-content: flex-start;
   align-items: center;
   flex: 1;
   background: #ffffff;
   border: 1px solid #e7ebfb;
   border-radius: 9px;
   padding-left: 20px;
   padding-right: 10px;
}

.input_wrapper_error {
   border: 2px solid red;
}

.input {
   width: 100%;
   height: 100%;
   border: none;
   font-size: 16px;
   color: #8899a8;
   line-height: 16px;
   font-family: 'Comfortaa';
   background-color: white;
}
.input:active {
   background-color: white;
}

.input__label {
   cursor: pointer;
}
.input::placeholder {
   font-size: 14px;
   color: #8899a8;
   line-height: 16px;
   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 400;
}

.day__delete {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 25px;
}

.day__delete img {
   padding: 2px;
   border-radius: 5px;
   transition: all 0.2s ease-in-out;
}

.day__delete img:hover {
   background: #eff2ff;
}

.day__delete img {
   cursor: pointer;
}

.comment__add {
   font-family: 'Comfortaa';
   width: 120px;
   margin-right: 5px;
   margin-bottom: 5px;
   margin-top: 5px;
   height: 40px;
   align-self: center;
   background: #edecfe;
   border-radius: 9px;
   border: none;
   font-weight: 500;
   font-size: 13px;
   color: #5051f9;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

.comment__add:hover {
   background: #6a6afb;
   color: #e6e9ed;
}

.cover {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.25);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.2s ease-in-out;
}
.cover_hidden {
   opacity: 0;
   pointer-events: none;
}

.popup {
   position: relative;
   min-width: 400px;
   background: #ffffff;
   box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
   border-radius: 10px;
   padding: 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.popup__title {
   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   text-align: center;
   margin-bottom: 19px;
   color: #000000;
}

.icon-label {
   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   margin-bottom: 9px;
   color: #768396;
}
.icon-select {
   display: flex;
   flex-direction: row;
   gap: 25px;
   align-items: center;
   justify-content: center;
   margin-bottom: 18px;
}

.icon {
   width: 45px;
   height: 45px;
   background: #ffffff;
   box-shadow: var(--item-box-shadow);
   border-radius: 14px;
   border: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   border: 1px solid #5051f9;
}

.icon:hover {
   background: #6a6afb;
}

.icon:hover img {
   filter: brightness(0) invert(1);
}
.icon_active {
   background-color: var(--blue-color);
}

.icon_active img {
   filter: brightness(0) invert(1);
}
.popup__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}
.popup__input {
   width: 100%;
   font-size: 16px;
   color: #8899a8;
   font-family: 'Comfortaa';
   background: #ffffff;
   border: 1px solid #e7ebfb;
   border-radius: 9px;
   padding: 10px 20px;
   margin-bottom: 6px;
}

.popup__button_form {
   margin-top: 11px;
   font-family: 'Comfortaa';
   width: 120px;
   margin-right: 5px;
   margin-bottom: 5px;
   margin-top: 5px;
   height: 40px;
   align-self: center;
   background: #edecfe;
   border-radius: 9px;
   border: none;
   font-weight: 500;
   font-size: 13px;
   color: #5051f9;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   margin-bottom: 10px;
}
.popup__button_form:hover {
   background: #6a6afb;
   color: #e6e9ed;
}

.popup__button {
   height: 14px;
   width: 14px;
   position: absolute;
   right: 20px;
   top: 20px;
   background: transparent;
   border: none;
   cursor: pointer;
}
